{
	log {
		output stderr
		format json
	}
	auto_https off
	admin caddy:2018
}

:8686 {
	root * /usr/share/caddy/
	file_server
}

:3000 {
	reverse_proxy grafana:3000
}

:7575 {
	reverse_proxy users_db_admin:8081
}

:8080 {
	basicauth bcrypt {
		{$MONITORING_ADMIN_USER} {$MONITORING_ADMIN_PASSWORD}
	}

	reverse_proxy cadvisor:8080
}

:8585 {
	reverse_proxy core_db_admin:8585
}

:9292 {
	reverse_proxy gateway:9292
}

:9090 {
	basicauth bcrypt {
		{$MONITORING_ADMIN_USER} {$MONITORING_ADMIN_PASSWORD}
	}

	reverse_proxy prometheus:9090
}
